body {
  background-color: #FFF3E9;
  text-align: center;                    
  padding: 10px;
}
main {
  text-align: center;
}
  h1 {
    color: black;
    padding: 10px;
    text-align: center;  
    font-family: bebas-neue, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    background-color: #dadbdc;
    border: 5px solid #3c4858 ;
    box-sizing: border-box; 
    margin: 20px;
    width: 100;
    margin-right: 20px;
  }

h3{
  color: black;
  padding: 10px;
  text-align: center;  
  font-family: bebas-neue, sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  background-color: #dadbdc;
  border: 5px solid #3c4858 ;
  box-sizing: border-box; 
  margin: 20px;
  width: 100;
  margin-right: 20px;
      
}



  p {
    color: black;
    border: 0px black;
    padding: 10px;
    margin: 20px;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
  }


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  height: auto;
  width: 40%; 
}

.name{
  padding: 15px;
  letter-spacing: 5px;
  text-align:center;
}

.about-me{
  width: 96%;
  letter-spacing: 4px;
  text-align: center; 
  background-color: #dadbdc;
  border: 5px solid #3c4858 ;
  border-collapse: separate;
  padding: 5px;
  margin: 20px;
  margin-bottom: 20px;
}


#calling {
  padding: 1px; 
  border:10px #3c4858;
  background-color: black;
  width: 100%;
  height: 700px;
  margin: 20px;
  margin-bottom: 20px;
  filter: grayscale(50%);
}

#contact {
  box-sizing: border-box;
  border: 5px black;
  margin-bottom: 20px;
  padding: 10px; 
  filter: grayscale(50%);
}
.center {
    position: absolute;
    top: 20%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-family: bebas-neue, sans-serif;
    font-size: 70px;
    color: white;
}

.lower {
  position: absolute;
    top: 25%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-family: bebas-neue, sans-serif;
    font-size: 30px;
    color: white;
}

.column {
  float: left;
  width: 19%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}


#connect {
  text-align: center; 
  border: 5px solid black;
  box-sizing: border-box;

}






/* Media Queries -------------------- */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }


@media screen and (max-width: 600px) {
  footer{
    padding:0px
  }
}

<<<<<<< HEAD
@media screen and (max-width: 960px) {
  .about-me {width: 100%;margin-top: 20px;}
  .heading {color:black; }
  .about-me2 {width:100%; margin-top: 20px;}
  .point {width:100%; margin-top: 20px;}
  .list {width:100%; margin-top: 20px;}


}

@media only screen and (max-width: 960px) {
  .point { width: 100%; margin-top: 20px;}
  
}

@media only screen and (max-width: 960px) {
  .point { width: 100%; }
  
}
