body {
  background-color: white;
  text-align: center;
  background-image: url("http://dianegress.com/wp-content/uploads/2014/11/simple-pattern-white-seamless-website-background-2.jpg");
  min-height: 500px;
}
main {
  text-align: center;
}
h1 {
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-family: "Vollkorn", serif;
  letter-spacing: 4px;
  background-color: white;
  border: 5px solid black;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  font-family: "Vollkorn", serif;
  letter-spacing: 4px;
  color: dark grey;
  width: 400px;
  height: 50px;
  padding: 5px;
  border: 5px solid black;
  box-sizing: border-box;
  margin: auto;
}

p {
  color: black;
  border: 0px black;
  padding: 10px;
  margin: 10px;
  font-family: verdana;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

.name {
  padding: 15px;
  letter-spacing: 5px;
  text-align: center;
}

.heading {
  letter-spacing: 8px;
  text-align: center;
}

.about-me {
  width: 48%;
  letter-spacing: 4px;
  text-align: center;
  float: left;
  background-color: #ffeeca;
  border: 5px solid black;
  box-sizing: border-box;
}

.about-me2 {
  width: 48%;
  letter-spacing: 4px;
  text-align: center;
  float: right;
  background-color: #ffeeca;
  border: 5px solid black;
  box-sizing: border-box;
  height: 380px;
}

footer {
  text-align: center;
  font-family: "Vollkorn", serif;
  letter-spacing: 4px;
  color: dark grey;
  height: 5px;
  bottom: auto;
  display: inline-block;
  padding: 10px 400px;
}

.footer-head {
  text-align: center;
  font-family: "Vollkorn", serif;
  letter-spacing: 4px;
  background-color: #ffeeca;
  color: black;
  /*width: 100%;*/
  border: 5px solid black;
  box-sizing: border-box;
}
.list {
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #ffeeca;
  text-align: center;
  font-family: "Vollkorn", serif;
  letter-spacing: 5px;
  width: 100%;
  line-height: 1.6;
  list-style-type: none;
}

/* Media Queries -------------------- */
@media screen and (max-width: 600px) {
  footer {
    padding: 0px;
  }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .about-me {
    width: 100%;
    margin-top: 20px;
  }
  .heading {
    color: red;
  }
  .about-me2 {
    width: 100%;
    margin-top: 20px;
  }
  footer {
    padding: 10px 200px;
  }
  .footer-head {
    margin-top: 20px;
    padding: 5px;
  }
  .list {
    width: 100%;
    margin-top: 20px;
  }
}

/*possible dupe query?
@media only screen and (max-width: 960px) {
  .contact { width: 100%; margin-top: 20px;}
} 
@media only screen and (max-width: 960px) {
  .footer-head { width: 100%; margin-top: 20px;}
}
moved content 
@media only screen and (max-width: 960px) {
}
*/
