body {
    background-color: white;
}

  h1 {
    color: black;
    text-align: center; 
    font-family: 'Vollkorn', serif;
    letter-spacing: 4px;
  }

  p {
    color: black;
    border: 0px black;
    padding: 10px;
    margin: 10px;
  }
  
  #p02 {
    color: greenyellow;
  }
  p.error {
    color: red;
  }

  div {
    
    color: black;
    text-align: center;
  }

  
  ul {
    list-style-type: none;
    margin: 500;
    padding: 500;
    color: purple; 
    text-align: center;
  } 
  li {
    color: purple;
    text-align: center;
    font-family: 'Lora', serif;
  }
  footer {
    text-align: center;
  }
.hi {
  text-align:center;
  display: inline-block;
}
.gallery{
  width ="600";
  height = "400";
  font-family: 'Lora', serif;
  
}