body {
  background-color: white;
  text-align: center;                    
  background-image: url("http://dianegress.com/wp-content/uploads/2014/11/simple-pattern-white-seamless-website-background-2.jpg");
<<<<<<< HEAD
  min-height: auto; 
  padding: 10px;
}
main {
  text-align: center;
}
  h1 {
    color: black;
    padding: 10px;
    text-align: center;  
    font-family: 'Vollkorn', serif;
    letter-spacing: 4px;
    background-color: white;
    border: 5px solid black;
    box-sizing: border-box; 
  }

h2{
    text-align: center;
    font-family: 'Vollkorn', serif;
    letter-spacing: 4px;
    color: dark grey;
    width: 100px;
    height: 50px;
    padding: 1px;
    border: 1px solid black;
    margin: auto;
      
}


  p {
    color: black;
    border: 0px black;
    padding: 10px;
    margin: 10px;
    font-family:verdana;
  }


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align:center;
  height: auto;
}

.name{
  padding: 15px;
  letter-spacing: 5px;
  text-align:center;
}

.heading{
  letter-spacing: 8px;
  text-align: center;
}

.about-me{
  width: 48%;
  letter-spacing: 6px;
  text-align: center; 
  float: left;
  background-color: #FFEECA;
  border: 5px solid black;
  box-sizing: border-box;
  height: 10 px;
}

.signature{
  width: 100%;
  text-align: center;
  
}

.about-me2 {
  width: 48%;
  letter-spacing: 2px;
  text-align: center; 
  float: right;
  background-color: #FFEECA;
  border: 5px solid black;
  box-sizing: border-box;
  height: 10 px;
}

.point {
  list-style-type: none;
  text-align: center;
  letter-spacing: 6px; 
  position: bottom;
  bottom: 20px;
  width: 100%; 
  display: inline-block;
  box-sizing:  border-box;
  background-color: #FFEECA;
  border: 5px solid black;
  height: 200px;
}


/* Media Queries -------------------- */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }


@media screen and (max-width: 600px) {
  footer{
    padding:0px
  }
}

<<<<<<< HEAD
@media screen and (max-width: 960px) {
  .about-me {width: 100%;margin-top: 20px;}
  .heading {color:black; }
  .about-me2 {width:100%; margin-top: 20px;}
  .point {width:100%; margin-top: 20px;}
  .list {width:100%; margin-top: 20px;}


}

@media only screen and (max-width: 960px) {
  .point { width: 100%; margin-top: 20px;}
  
}

@media only screen and (max-width: 960px) {
  .point { width: 100%; }
  
}
